# Configuración del Servidor y Entorno - Mapa Guaguas Municipales
PORT=3000
NODE_ENV=development

# Fuente oficial de datos GTFS de Guaguas Municipales de Las Palmas de Gran Canaria
GUAGUAS_GTFS_URL=http://www.guaguas.com/transit/google_transit

# Configuración de Caché
CACHE_TTL_HOURS=24
CACHE_DIR=.cache_transit

# Estilo de mapa base por defecto de ESRI:
# 'streets'   : Calles (Esri World Street Map)
# 'topo'      : Topográfico con relieve y curvas de nivel (Esri World Topo Map)
# 'satellite' : Fotografía aérea de satélite de alta resolución (Esri World Imagery)
# 'dark'      : Modo Oscuro / Gris Oscuro de alto contraste (Esri Dark Gray Canvas)
# 'canvas'    : Gris Claro neutro (Esri Light Gray Canvas)
# 'natgeo'    : National Geographic clásico (Esri NatGeo World Map)
DEFAULT_MAP_STYLE=streets

